body{
    background-color: bisque;
    text-align: center;
}

h1{
    color: rgb(89, 56, 15);
    background-color: rgb(211, 171, 118);
    text-align: center;
}

@media (min-width: 400px) and (max-width:600px) {
    div{
        background-color: yellowgreen;
        font-family: 'Courier New', Courier, monospace;
    }
}

@media (orientation:landscape) {
    h1{
        background-color: rgb(173, 221, 205);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}