body{
    text-align: center;
    background-color: bisque;
}

h1{
    background-color: burlywood;
}

h2{
    background-color: rgb(164, 142, 112);
}

h3{
    background-color: rgb(211, 184, 150);
}